{% extends 'app/base.html' %}


{% block link %} {% endblock %}

{% block title %} New Post | COMSC APP {% endblock %}



  {% block content %}
  <div class="container" style="padding-top: 60px;">
    <form action="" method="post" class="form-control form-container" style="text-align: left;" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="input-container">
        <select name="category" id="">
            <option value="">Machine Learning</option>
        </select>
      </div>
      <div class="input-container">
        <textarea name="content" class="form-control" placeholder="What's on your mind" rows="5"></textarea>
      </div>
      <div class="input-container">
        <input type="file" name="image" class="form-control" placeholder="What's on your mind">
      </div>
      <div class="input-container">
        <input type="submit" class="btn bg-color" value="Post">
      </div>
    </form>
  </div>
  {% endblock %}
  
</body>

</html>