{% extends 'app/base.html' %}

{% load static %}

{% block link %}<link rel="stylesheet" href="{% static 'assets/css/profile.css' %}">  {% endblock %}
{% block title %} Login | COMSC APP {% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}

<div class="onboarding-container">
  <h1>Welcome Back, Login! </h1>

  <div class="onboarding-step active" id="step1">

    <div class="profile-image">
      <img src="{% static 'assets/images/default_image.jpg' %}" alt="" style="width: 80px; height: 80px;">
    </div>
    <p style="color: #42c1a6;">Please fill in some additional details to complete your profile.</p>
    {% for message in messages %}
    <div class="msg error">
      {{message}}
    </div>
    {% endfor %}
    <form action="" method="post">
      {% csrf_token %}

      <div class="input-container" style="margin-bottom: 10px;">
        <input type="text" class="form-control" id="username" placeholder="Choose a Username" name="username" required>
      </div>
     
      
        <div class="input-container" >
          <input type="password" class="form-control" id="course" placeholder="password" name="password" required>
        </div>
      

      <div class="input-container">
        <button type="submit" class="btn btn-primary" >Login</button>
      </div>
      <br>
      <center>
        <span>Or</span>
        <p>Don't have account? <a href="{% url 'register' %}" style="color: green;">Register</a></p>

      </center>
      
  </div>
  </form>
  <!-- IF THE FORM IS SUCCESSFULL REDIRECT TO THIS PAGE -->
  
</div>

  {% endblock %}