{% extends 'app/base.html' %}


{% block link %} {% endblock %}

{% block title %} New Post | COMSC APP {% endblock %}



  {% block content %}
  <div class="container" style="padding-top: 60px;">
    <form action="" method="post" class="form-control form-container" style="text-align: left;" enctype="multipart/form-data">
        <h5 class="form-title" style="color: white;">Create New Category</h5>
      {% csrf_token %}
      <div class="input-container">
        <input type="text" name="name" id="" class="form-control" placeholder="Name of Category">
      </div>
      <div class="input-container">
        <textarea name="description" class="form-control" placeholder="description" rows="5"></textarea>
      </div>
      
      <div class="input-container">
        <input type="submit" class="btn btn-primary" value="New Category" style="min-width: 40%;">
      </div>
    </form>
  </div>
  {% endblock %}
  
</body>

</html>